<%- include("partials/header") %>


<p></p>
<div  style="width: 80%" class="container-fluid">
  <p></p>
  <h1 style="text-align: center">This Feature Is Coming Soon!</h1>
  <h5 style="text-align: center">ENJOY THE KITTEN</h5>
  <img style="width: 100%; height:width; object-fit: cover; position: static; " src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F20%2F2018%2F05%2F21042210_264995290674140_8840525631411191808_n.jpg">
</div>


<%- include("partials/footer") %>
