<%- include("../partials/header") %>


  <div class = "container-fluid">
    <p></p>


    <div class="row text-center">
      <% users.forEach(function(user){ %>
        <div class="col-st-xl-3 col-st-lg-4 col-st-md-4 col-st-sm-4 col-st-xs-4 col-mobile-sm">
          <a href="#" class="dashboard-card">
            <div class="card" style="margin-top: 30px">
              <div class="card-body">
                <p><%=user.sessionID%></p>
                <p><%=user.username%></p>
              </div>
            </div>
          </a>
        </div>

      <% }) %>
    </div>






  </div>


<%- include("../partials/footer") %>
